Django>=4.0.0
django-simple-captcha>=0.5.18
pymysql>=1.1.0
django-cors-headers>=4.0.0
django-redis==5.4.0
django-cleanup==8.0.0
django-apscheduler==0.6.2
redis==5.0.1
django-ratelimit==4.1.0
requests==2.28.1
ms_toollib==1.4.8
psutil==5.9.1