beautifulsoup4==4.14.3
Django==6.0.0
django-apscheduler==0.7.0
django-cleanup==9.0.0
django-cors-headers==4.0.0
django-model-utils==5.0.0
django-ninja==1.6.2
django-ratelimit==4.1.0
django-redis==7.0.0
django-simple-captcha==0.6.3
django-tasks-db==0.12.0
lxml==6.1.1
ms_toollib==1.5.9
mysqlclient==2.2.8
psutil==7.2.0
pyo3_runtime==0.0.1
redis==8.0.0
requests==2.34.2
websocket-client==1.9.0
cryptography==48.0.0
