beautifulsoup4==4.15.0
bilibili-api-python==17.4.2
curl_cffi==0.16.2
Django==6.1
django-apscheduler==0.7.0
django-cleanup==9.0.0
django-cors-headers==4.9.0
dataclasses-json==0.6.7
django-model-utils==5.0.0
django-ninja==1.7.0
django-ratelimit==4.1.0
django-redis==7.0.0
django-simple-captcha==0.7.0
django-tasks-db==0.13.0
lxml==6.1.2
ms_toollib==1.5.17
mysqlclient==2.2.8
psutil==7.2.2
pyo3_runtime==0.0.1
redis==8.1.0
requests==2.34.2
websocket-client==1.9.1
cryptography==50.0.1
timeout-decorator==0.5.0
dataclasses_json==0.6.7
