.button-group {
    display: flex;
    gap: 0.25em;

    .el-button {
        margin: 0;
    }
}

.button-compact {
    height: auto;
    padding: 2px 5px;
    vertical-align: baseline;
}

.el-button.square-button {
    padding: 8px;
}

.el-button--small.square-button {
    padding: 5px;
}
