.base-button {
    --button-color: var(--ui-text-color-regular);
    --button-background: var(--ui-fill-color-blank);
    --button-border: var(--ui-border-color);
    --button-hover-color: var(--ui-color-primary);
    --button-hover-background: var(--ui-color-primary-light-9);
    --button-hover-border: var(--ui-color-primary-light-7);
    --button-active-background: var(--ui-color-primary-light-8);
    --button-disabled-color: var(--ui-disabled-text-color);
    --button-disabled-background: var(--ui-disabled-bg-color);
    --button-disabled-border: var(--ui-disabled-border-color);

    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
    max-width: 100%;
    margin: 0;
    border: 1px solid var(--button-border);
    border-radius: var(--ui-button-border-radius);
    padding: 4px 8px;
    background: var(--button-background);
    color: var(--button-color);
    font-family: inherit;
    font-size: var(--ui-font-size-base);
    line-height: 1.4;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
